<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>表单设计器</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{../css/index.css}">
    <link rel="stylesheet" th:href="@{../css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../css/custom.css}">
    <link rel="stylesheet" th:href="@{../css/iconfont/iconfont.css}">
     <!-- 滚动条css -->
    <link rel="stylesheet" th:href="@{../lib/mCustonScrollbar/jquery.mCustomScrollbar.css}">
    <!-- 引入bootstrap css-->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <script th:src="@{../lib/jquery.min.js}"></script>

    <!--babel7 浏览器兼容-->
    <script th:src="@{../lib/babel.min.js}"></script>

    <!-- 滚动条js -->
    <script th:src="@{../lib/mCustonScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- <script src="https://unpkg.com/jshint@2.12.0/dist/jshint.js"></script> -->
    <script th:src="@{../lib/jshint.js}"></script>
    <script th:src="@{../lib/ortumReq.js}"></script>
    <script th:src="@{../lib/axios.min.js}"></script>
    <!-- js格式化 -->
    <!-- <script src="lib/beautify.js"></script> -->
    <!-- <script src="lib/jsBeautify.js"></script> -->
    <!-- js压缩和格式化 -->
    <script th:src="@{../lib/format.js}"></script>
    <!-- 引入bootstrap js -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script th:src="@{../lib/require.js}" defer async="true"data-main="../js/config" ></script>
</head>
<body class="body_bgc_newPC">
    <div class="ortum_tip">
        <div class="alert alert-danger" role="alert" id="ortum_tip_content_danger">
            火速赶制中！！！
        </div>
        <div class="alert alert-info" role="alert" id="ortum_tip_content_info">
            一切OK！！！
        </div>
    </div>
    <div id="ortum">
        <div class="container no-gutters" style="max-width: 100%;">
            <div class='row'>
                <div class="col-2 p-0" style="display: flex;flex-direction: column;height: 100vh;">
                    <div style="text-align: center;font-weight: 800;line-height:20px;letter-spacing: 5px;padding: 10px 0;">组件选择</div>
                    <div id="ortum_left" class="ortum_mCustomScrollbar">
                        <div class="shadow-none p-1 bg-info text-white pl-2">表单组件</div>
                        <div class="ortum_components mb-2" data-type="form"></div>
                        <div class="shadow-none p-1 bg-info text-white pl-2">修饰组件</div>
                        <div class="ortum_components mb-2" data-type="decorate"></div>
                        <div class="shadow-none p-1 bg-info text-white pl-2">高级组件</div>
                        <div class="ortum_components mb-2" data-type="super"></div>
                        <div class="shadow-none p-1 bg-info text-white pl-2">布局组件</div>
                        <div class="ortum_components mb-2" data-type="layout"></div>
                    </div>
                    <div style="text-align: center" class="p-2 ortum_form_moreSettingDiv">
                        <div class="btn-group mr-2" role="group">
                            <button type="button" class="btn btn-outline-primary ortum_form_moreSetting">更多设置</button>
                        </div>
                    </div>
                </div>
                <div class="col-8" style="padding:0 5px;">
                    <div id="ortum_table_act">
                        <span class="iconfont icon-css1 ortum_tableAct_icon ortum_newPC_color" data-toggle="tooltip" data-placement="bottom" title="CSS"></span>
                        <span class="iconfont icon-js ortum_tableAct_icon ortum_newPC_color" data-toggle="tooltip" data-placement="bottom" title="JS"></span>
                        <span class="iconfont icon-yulan ortum_tableAct_icon ortum_newPC_color" data-toggle="tooltip" data-placement="bottom" title="预览"></span>
                        <span class="iconfont icon-daochu ortum_tableAct_icon ortum_newPC_color" data-toggle="tooltip" data-placement="bottom" title="导出"></span>
                        <input type="file" id="ortum_import_file" style="display:none;" accept=".json">
                        <span class="iconfont icon-daoru ortum_tableAct_icon ortum_newPC_color" data-toggle="tooltip" data-placement="bottom" title="导入"></span>
                        <span class="iconfont icon-baocun ortum_tableAct_icon ortum_newPC_color" data-toggle="tooltip" data-placement="bottom"title="保存"></span>
                        <span class="iconfont icon-qingkong ortum_tableAct_icon ortum_newPC_color" data-toggle="tooltip" data-placement="bottom" title="清空"></span>
                        <span class="iconfont icon-xinjian ortum_tableAct_icon ortum_newPC_color" data-toggle="tooltip" data-placement="bottom" title="新建"></span>

                        <div id="ortum_table_info" style="flex-grow: 2">
                            <div class="row" style="padding: 0;margin:0;">
                                <div class="col-1 ortum_table_method_col">
                                    <span class="ortum_table_method ortum_newPC_color" data-method="newPCTable">新增</span>
                                </div>
                                <div class="col ortum_table_name_col">
                                    <div class="form-group ortum_item row">
                                        <input type="text" class="form-control form-control-sm" placeholder="表单名称" id="ortum_table_name" name="ortum_table_name">
                                    </div>
                                </div>
                                <div class="col ortum_table_code_col">
                                    <div class="form-group ortum_item row">
                                        <input type="text" class="form-control form-control-sm" placeholder="表单编号" id="ortum_table_code" name="ortum_table_code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ortum_body">
                        <div id='originState' class="ortum_display_NONE">组件拖拽</div>
                        <div id="ortum_field"></div>
                    </div>
                </div>
                <div class="col-2 no-gutters" style="height: 100vh;overflow: auto;padding:0;">
                    <div style="text-align: center;font-weight: 800;letter-spacing: 5px;padding: 10px 0;line-height:20px;">参数配置</div>
                    <div id="ortum_right" class="ortum_mCustomScrollbar" >
                        <div class="accordion">
                            <div class="card">
                                <div class="card-header p-0" id="headingOne">
                                    <button class="btn btn-block text-left btn-sm ortum_boot_btn_no_shadow"  type="button" data-toggle="collapse" data-target="#ortum_collapseOne" aria-expanded="true" aria-controls="ortum_collapseOne">
                                        组件属性
                                    </button>
                                </div>
                                <form id="ortum_component_propertiesForm">
                                    <div id="ortum_collapseOne" class="collapse show" aria-labelledby="headingOne">
                                        <div class="card-body" style="padding:0.8rem 0.5rem">
                                            <div class="form-group">
                                                <label for="ortum_property_id">ID</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_id" id="ortum_property_id">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_name">name属性</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_name" id="ortum_property_name">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_rows">rows</label>
                                                <input type="number" step="1" min="1" class="form-control form-control-sm" name="ortum_property_rows" id="ortum_property_rows">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_columns">columns</label>
                                                <input type="number" step="1" min="1" class="form-control form-control-sm" name="ortum_property_columns" id="ortum_property_columns">
                                            </div>

                                            <div class="form-group">
                                                <label for="ortum_property_defaultVal">默认值</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_defaultVal" id="ortum_property_defaultVal">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_previewName">预览按钮名称</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_previewName" id="ortum_property_previewName">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_downName">下载按钮名称</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_downName" id="ortum_property_downName">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_delName">删除按钮名称</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_delName" id="ortum_property_delName">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_accept">文件类型</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_accept" id="ortum_property_accept">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_uploadUrl">上传地址</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_uploadUrl" id="ortum_property_uploadUrl">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_serverUrl">服务器地址</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_serverUrl" id="ortum_property_serverUrl">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_formName">上传name</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_formName" id="ortum_property_formName">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_automatic" class="custom-control-input" id="ortum_property_automatic">
                                                    <label class="custom-control-label" for="ortum_property_automatic">自动上传</label>
                                                    <div class="invalid-feedback">
                                                        请填写
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_multiple" class="custom-control-input" id="ortum_property_multiple">
                                                    <label class="custom-control-label" for="ortum_property_multiple">多文件</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_showFileName" class="custom-control-input" id="ortum_property_showFileName">
                                                    <label class="custom-control-label" for="ortum_property_showFileName">显示文件名称</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_showPrevBtn" class="custom-control-input" id="ortum_property_showPrevBtn">
                                                    <label class="custom-control-label" for="ortum_property_showPrevBtn">显示预览按钮</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_showDownBtn" class="custom-control-input" id="ortum_property_showDownBtn">
                                                    <label class="custom-control-label" for="ortum_property_showDownBtn">显示下载按钮</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_showDelBtn" class="custom-control-input" id="ortum_property_showDelBtn">
                                                    <label class="custom-control-label" for="ortum_property_showDelBtn">显示删除按钮</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_labelBindInput" class="custom-control-input" id="ortum_property_labelBindInput">
                                                    <label class="custom-control-label" for="ortum_property_labelBindInput">label关联上传</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_checked" class="custom-control-input" id="ortum_property_checked">
                                                    <label class="custom-control-label" for="ortum_property_checked">默认选中</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_useRemote" class="custom-control-input" id="ortum_property_useRemote">
                                                    <label class="custom-control-label" for="ortum_property_useRemote">远端option</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_showThead" class="custom-control-input" id="ortum_property_showThead">
                                                    <label class="custom-control-label" for="ortum_property_showThead">显示thead</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_showTfoot" class="custom-control-input" id="ortum_property_showTfoot">
                                                    <label class="custom-control-label" for="ortum_property_showTfoot">显示tfoot</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_showTbody" class="custom-control-input" id="ortum_property_showTbody">
                                                    <label class="custom-control-label" for="ortum_property_showTbody">显示tbody</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_showSpan" class="custom-control-input" id="ortum_property_showSpan">
                                                    <label class="custom-control-label" for="ortum_property_showSpan">显示tip</label>
                                                </div>
                                            </div>
                                            
                                
                                            <div class="form-group">
                                                <label for="ortum_property_max">最大范围</label>
                                                <input type="number" class="form-control form-control-sm" name="ortum_property_max" id="ortum_property_max">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_min">最小范围</label>
                                                <input type="number" class="form-control form-control-sm" name="ortum_property_min" id="ortum_property_min">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_step">步伐</label>
                                                <input type="number" class="form-control form-control-sm" name="ortum_property_step" id="ortum_property_step">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_verification">校验</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_verification" id="ortum_property_verification">
                                            </div>

                                            <div class="form-group">
                                                <label for="ortum_property_bindComponentName">关联组件</label>
                                                <select class="form-control form-control-sm" id="ortum_property_bindComponentName" name="ortum_property_bindComponentName">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_titleType">title标签</label>
                                                <select class="form-control form-control-sm" id="ortum_property_titleType" name="ortum_property_titleType">
                                                    <option value="h1">h1</option>
                                                    <option value="h2">h2</option>
                                                    <option value="h3">h3</option>
                                                    <option value="h4">h4</option>
                                                    <option value="h5">h5</option>
                                                    <option value="h6">h6</option>
                                                </select>
                                            </div>
                                            <!-- <div class="form-group">
                                                <label for="ortum_property_step">选项</label>
                                                <div class="ortum_radio_newValue">
                                                    <div class="row" style="text-align: center;line-height: 2rem;">
                                                        <div class="col-6" style="padding-right:0;">
                                                            名称
                                                        </div>
                                                        <div class="col-6" style="padding-left:0;">
                                                            值
                                                        </div>
                                                    </div>
                                                    <div class="row ortum_radio_newValue_item" style="padding:0;">
                                                        <div class="col-2">
                                                            <input type="checkbox">
                                                        </div>

                                                        
                                                        <div class="col-5" style="padding:0;">
                                                            <input type="text" class="form-control form-control-sm" placeholder="名称">
                                                        </div>
                                                        <div class="col-5" style="padding-left:0;">
                                                            <input type="text" class="form-control form-control-sm" placeholder="值">
                                                        </div>
                                                    </div>
    
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button type="button" class="btn btn-secondary btn-sm btn-block" id="ortum_radio_add_newLine">新增</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div> -->


                                            <div class="form-group">
                                                <label id="ortum_property_authority">权限</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ortum_property_authority" id="ortum_property_authority1" value="hide">
                                                    <label class="form-check-label" for="ortum_property_authority1">
                                                        隐藏
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ortum_property_authority" id="ortum_property_authority2" value="edit">
                                                    <label class="forattributesArrm-check-label" for="ortum_property_authority2">
                                                        可编辑
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ortum_property_authority" id="ortum_property_authority3" value="readonly">
                                                    <label class="form-check-label" for="ortum_property_authority3">
                                                        只读可点击
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ortum_property_authority" id="ortum_property_authority4" value="disabled">
                                                    <label class="form-check-label" for="ortum_property_authority4">
                                                        只读且无法点击
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_placeholder">placeholder</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_placeholder" id="ortum_property_placeholder">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_cssClass">CSS类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_cssClass" id="ortum_property_cssClass">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_theadCssClass">thead类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_theadCssClass" id="ortum_property_theadCssClass">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_theadTrCssClass">thead的tr类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_theadTrCssClass" id="ortum_property_theadTrCssClass">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_thCssClass">th类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_thCssClass" id="ortum_property_thCssClass">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_tbodyCssClass">tbody类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_tbodyCssClass" id="ortum_property_tbodyCssClass">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_tbodyTrCssClass">tbody的tr类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_tbodyTrCssClass" id="ortum_property_tbodyTrCssClass">
                                            </div>

                                            <div class="form-group">
                                                <label for="ortum_property_tdCssClass">td类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_tdCssClass" id="ortum_property_tdCssClass">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_tfootCssClass">tfoot类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_tfootCssClass" id="ortum_property_tfootCssClass">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_tfootTrCssClass">tfoot的tr类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_tfootTrCssClass" id="ortum_property_tfootTrCssClass">
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_tfootTdCssClass">tfoot的td类</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_tfootTdCssClass" id="ortum_property_tfootTdCssClass">
                                            </div>

                                            <div class="form-group">
                                                <label for="ortum_property_iconName">icon名称</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_iconName" id="ortum_property_iconName">
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_inline" class="custom-control-input" id="ortum_property_inline">
                                                    <label class="custom-control-label" for="ortum_property_inline">单行显示</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ortum_property_title">title属性</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_title" id="ortum_property_title">
                                            </div>

                                            <div class="ortum_poperty_splitLine"></div>

                                            <div class="form-group">
                                                <label for="ortum_property_browse">浏览名称</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_browse" id="ortum_property_browse">
                                                <div class="invalid-feedback">
                                                    请填写
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" name="ortum_property_hideLabel" class="custom-control-input" id="ortum_property_hideLabel">
                                                    <label class="custom-control-label" for="ortum_property_hideLabel">隐藏标签</label>
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <label for="ortum_property_labelName">标签名称</label>
                                                <input type="text" class="form-control form-control-sm" name="ortum_property_labelName" id="ortum_property_labelName">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label id="ortum_property_labelPosition">标签位置</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ortum_property_labelPosition" id="ortum_property_labelPosition1" value="topLeft">
                                                    <label class="form-check-label" for="ortum_property_labelPosition1">
                                                        顶部左边
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ortum_property_labelPosition" id="ortum_property_labelPosition2" value="topRight">
                                                    <label class="form-check-label" for="ortum_property_labelPosition2">
                                                        顶部右边
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ortum_property_labelPosition" id="ortum_property_labelPosition3" value="rowLeft">
                                                    <label class="form-check-label" for="ortum_property_labelPosition3">
                                                        同行左边
                                                    </label>
                                                </div>
                                                <!-- <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ortum_property_labelPosition" id="ortum_property_labelPosition4" value="rowRight">
                                                    <label class="form-check-label" for="ortum_property_labelPosition4">
                                                        同行左边
                                                    </label>
                                                </div> -->
                                            </div>
                                        
                                            <div class="form-group">
                                                <label for="ortum_property_labelCSS">标签CSS类</label>
                                                <input type="text" class="form-control form-control-sm" id="ortum_property_labelCSS" name="ortum_property_labelCSS">
                                            </div>
                                        </div>
                                    </div>
                                </form>                      
                            </div>
                            <!-- <div class="card">
                                <div class="card-header p-0" id="headingTwo">
                                    <button class="btn btn-block text-left btn-sm ortum_boot_btn_no_shadow" type="button" data-toggle="collapse" data-target="#ortum_collapseTwo" aria-expanded="true" aria-controls="ortum_collapseTwo">
                                        父级组件①
                                    </button>
                                </div>
                                <div id="ortum_collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        待开发
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header p-0" id="headingThree">
                                    <button class="btn btn-block text-left btn-sm ortum_boot_btn_no_shadow" type="button" data-toggle="collapse" data-target="#ortum_collapseThree" aria-expanded="true" aria-controls="ortum_collapseThree">
                                        父级组件②
                                    </button>
                                </div>
                                <div id="ortum_collapseThree" class="collapse show" aria-labelledby="headingThree">
                                    <div class="card-body">
                                        待开发
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                     <!--<div style="text-align: center" class="p-2">
                        <button type="button" class="btn btn-outline-primary">另存</button>
                        <button type="button" class="btn btn-outline-info" id="testReset">重置</button>
                     </div>-->
                </div>
            </div>
        </div>
    </div>
    
    <!-- <button onclick="findGloabl()">查看</button> -->

    <!-- <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->


    <!-- 顶部弹窗XL -->
    <div class="modal" id="ortum_top_dialog_xl" tabindex="-1" role="dialog" aria-labelledby="ortum_top_dialog_xl" aria-hidden="true" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div id="ortum_top_model_xl_wait" class="spinner-border" role="status" style="margin:100px auto;">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id="ortum_top_model_xl_content"></div>
            </div>
        </div>
    </div>

    <!-- 顶部弹窗LG -->
    <div class="modal fade" id="ortum_top_dialog_lg" tabindex="-1" role="dialog" aria-labelledby="ortum_top_dialog_lg" aria-hidden="true" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="ortum_top_model_lg_wait" class="spinner-border" role="status" style="margin:100px auto;">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id="ortum_top_model_lg_content"></div>
            </div>
        </div>
    </div>


    <!-- 顶部弹窗 -->
    <div class="modal fade" id="ortum_top_dialog" tabindex="-1" role="dialog" aria-labelledby="ortum_top_dialog" aria-hidden="true" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="ortum_top_model_wait" class="spinner-border" role="status" style="margin:100px auto;">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id="ortum_top_model_content"></div>
            </div>
        </div>
    </div>
    <!-- 中间弹窗 -->
    <div class="modal fade" id="ortum_middle_dialog" tabindex="-1" role="dialog" aria-labelledby="ortum_middle_dialog" aria-hidden="true" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div id="ortum_middle_model_wait" class="spinner-border" role="status" style="margin:100px auto;">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id="ortum_middle_model_content"></div>
            </div>
        </div>
    </div>

    <!--loading-->
    <div class="ortum_loading">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!--绘制区组件替换-->
    <div class="modal" id="ortum_replaceItem_model" tabindex="-1" role="dialog" aria-labelledby="ortum_middle_dialog" aria-hidden="true" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div id="ortum_replaceItem_model_content">
                    <div class="modal-header">
                        <h5 class="modal-title" >操作</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding: 0px;">
                        <div style="text-align: center;margin:10px 0px 20px 0px;display: flex;justify-content: center;">
                            <div class="ortum_itemDragAct" id="ortum_repalceItemBtn">
                                <img th:src="@{../image/replace.png}" alt="" class="ortum_itemDragAct_img">
                                <span class="ortum_itemDragAct_span">替换</span>
                            </div>
                            <div class="ortum_itemDragAct" id="ortum_exchangeItemBtn">
                                <img th:src="@{../image/exchange.png}" alt="" class="ortum_itemDragAct_img">
                                <span class="ortum_itemDragAct_span">交换</span>
                            </div>
                            <!-- <button type="button" class="btn btn-warning" id="ortum_repalceItemBtn">替换</button>
                            <button type="button" class="btn btn-primary" id="ortum_exchangeItemBtn">交换</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{../js/index.js}"></script>
    <script th:src="@{/ruoyi/js/ry-ui.js}"></script>
</body>
</html>