<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snow.from.mapper.SysFormFieldMapper">
    
    <resultMap type="SysFormField" id="SysFormFieldResult">
        <result property="id"    column="id_"    />
        <result property="fieldKey"    column="field_key_"    />
        <result property="fieldName"    column="field_name_"    />
        <result property="fieldType"    column="field_type_"    />
        <result property="fieldHtml"    column="field_html_"    />
        <result property="remark"    column="remark_"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="rev"    column="rev_"    />
        <result property="tenantId"    column="tenant_id_"    />
        <result property="isDelete"    column="is_delete"    />

        <result property="fromId"    column="from_id"    />
    </resultMap>

    <sql id="selectSysFormFieldVo">
        select id_, field_key_, field_name_, field_type_, from_id,field_html_, remark_, create_by, create_time, update_time, update_by, rev_, tenant_id_, is_delete from sys_form_field
    </sql>

    <select id="selectSysFormFieldList" parameterType="SysFormField" resultMap="SysFormFieldResult">
        <include refid="selectSysFormFieldVo"/>
        <where>  
            <if test="fieldKey != null  and fieldKey != ''"> and field_key_ = #{fieldKey}</if>
            <if test="fieldName != null  and fieldName != ''"> and field_name_ = #{fieldName}</if>
            <if test="fieldType != null  and fieldType != ''"> and field_type_ = #{fieldType}</if>
            <if test="fieldHtml != null  and fieldHtml != ''"> and field_html_ = #{fieldHtml}</if>
            <if test="remark != null  and remark != ''"> and remark_ = #{remark}</if>
            <if test="rev != null "> and rev_ = #{rev}</if>
            <if test="tenantId != null  and tenantId != ''"> and tenant_id_ = #{tenantId}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="fromId != null "> and from_id = #{fromId}</if>
        </where>
    </select>
    
    <select id="selectSysFormFieldById" parameterType="Long" resultMap="SysFormFieldResult">
        <include refid="selectSysFormFieldVo"/>
        where id_ = #{id}
    </select>
        
    <insert id="insertSysFormField" parameterType="SysFormField" useGeneratedKeys="true" keyProperty="id">
        insert into sys_form_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fieldKey != null and fieldKey != ''">field_key_,</if>
            <if test="fieldName != null and fieldName != ''">field_name_,</if>
            <if test="fieldType != null and fieldType != ''">field_type_,</if>
            <if test="fieldHtml != null and fieldHtml != ''">field_html_,</if>
            <if test="remark != null">remark_,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="rev != null">rev_,</if>
            <if test="tenantId != null">tenant_id_,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="fromId != null ">from_id ,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fieldKey != null and fieldKey != ''">#{fieldKey},</if>
            <if test="fieldName != null and fieldName != ''">#{fieldName},</if>
            <if test="fieldType != null and fieldType != ''">#{fieldType},</if>
            <if test="fieldHtml != null and fieldHtml != ''">#{fieldHtml},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="rev != null">#{rev},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="fromId != null "> #{fromId}</if>
         </trim>
    </insert>

    <update id="updateSysFormField" parameterType="SysFormField">
        update sys_form_field
        <trim prefix="SET" suffixOverrides=",">
            <if test="fieldKey != null and fieldKey != ''">field_key_ = #{fieldKey},</if>
            <if test="fieldName != null and fieldName != ''">field_name_ = #{fieldName},</if>
            <if test="fieldType != null and fieldType != ''">field_type_ = #{fieldType},</if>
            <if test="fieldHtml != null and fieldHtml != ''">field_html_ = #{fieldHtml},</if>
            <if test="remark != null">remark_ = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="rev != null">rev_ = #{rev},</if>
            <if test="tenantId != null">tenant_id_ = #{tenantId},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="fromId != null ">  from_id = #{fromId},</if>
        </trim>
        where id_ = #{id}
    </update>

    <delete id="deleteSysFormFieldById" parameterType="Long">
        delete from sys_form_field where id_ = #{id}
    </delete>

    <delete id="deleteSysFormFieldByIds" parameterType="String">
        delete from sys_form_field where id_ in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>