<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snow.system.mapper.DingtalkCallBackEventMapper">
    
    <resultMap type="DingtalkCallBackEvent" id="DingtalkCallBackEventResult">
        <result property="id"    column="id"    />
        <result property="eventName"    column="event_name"    />
        <result property="callBanckId"    column="call_banck_id"    />
        <result property="eventDesc"    column="event_desc"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectDingtalkCallBackEventVo">
        select id, event_name, call_banck_id, event_desc, del_flag, create_by, create_time, update_time, update_by from dingtalk_call_back_event
    </sql>

    <select id="selectDingtalkCallBackEventList" parameterType="DingtalkCallBackEvent" resultMap="DingtalkCallBackEventResult">
        <include refid="selectDingtalkCallBackEventVo"/>
       where del_flag=0
            <if test="eventName != null  and eventName != ''"> and event_name like concat('%', #{eventName}, '%')</if>
            <if test="callBanckId != null "> and call_banck_id = #{callBanckId}</if>
            <if test="eventDesc != null  and eventDesc != ''"> and event_desc = #{eventDesc}</if>
    </select>
    
    <select id="selectDingtalkCallBackEventById" parameterType="Integer" resultMap="DingtalkCallBackEventResult">
        <include refid="selectDingtalkCallBackEventVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDingtalkCallBackEvent" parameterType="DingtalkCallBackEvent" useGeneratedKeys="true" keyProperty="id">
        insert into dingtalk_call_back_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventName != null">event_name,</if>
            <if test="callBanckId != null">call_banck_id,</if>
            <if test="eventDesc != null">event_desc,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventName != null">#{eventName},</if>
            <if test="callBanckId != null">#{callBanckId},</if>
            <if test="eventDesc != null">#{eventDesc},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateDingtalkCallBackEvent" parameterType="DingtalkCallBackEvent">
        update dingtalk_call_back_event
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventName != null">event_name = #{eventName},</if>
            <if test="callBanckId != null">call_banck_id = #{callBanckId},</if>
            <if test="eventDesc != null">event_desc = #{eventDesc},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDingtalkCallBackEventById" parameterType="Integer">
        delete from dingtalk_call_back_event where id = #{id}
    </delete>

    <delete id="deleteDingtalkCallBackEventByCallBanckId" parameterType="Integer">
        delete from dingtalk_call_back_event where call_banck_id = #{id}
    </delete>

    <delete id="deleteDingtalkCallBackEventByIds" parameterType="String">
        delete from dingtalk_call_back_event where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>