<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snow.system.mapper.SysOaFaqAnswerMapper">
    
    <resultMap type="SysOaFaqAnswer" id="SysOaFaqAnswerResult">
        <result property="id"    column="id"    />
        <result property="faqNo"    column="faq_no"    />
        <result property="answerAnswer"    column="answer_answer"    />
        <result property="answerFraction"    column="answer_fraction"    />
        <result property="isAdopt"    column="is_adopt"    />
        <result property="answerLikes"    column="answer_likes"    />
        <result property="answerRidicule"    column="answer_ridicule"    />
        <result property="adoptTime"    column="adopt_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectSysOaFaqAnswerVo">
        select id,faq_no, answer_answer, answer_fraction, is_adopt, answer_likes, answer_ridicule, adopt_time, create_time, create_by, update_by, update_time, is_delete from sys_oa_faq_answer
    </sql>

    <select id="selectSysOaFaqAnswerList" parameterType="SysOaFaqAnswer" resultMap="SysOaFaqAnswerResult">
        <include refid="selectSysOaFaqAnswerVo"/>
        <where>
            is_delete=0
            <if test="faqNo != null  and faqNo != ''"> and faq_no = #{faqNo}</if>
            <if test="answerAnswer != null  and answerAnswer != ''"> and answer_answer = #{answerAnswer}</if>
            <if test="answerFraction != null "> and answer_fraction = #{answerFraction}</if>
            <if test="isAdopt != null "> and is_adopt = #{isAdopt}</if>
            <if test="answerLikes != null "> and answer_likes = #{answerLikes}</if>
            <if test="answerRidicule != null "> and answer_ridicule = #{answerRidicule}</if>
            <if test="adoptTime != null "> and adopt_time = #{adoptTime}</if>
            <if test="createBy != null">and create_by = #{createBy}</if>
        </where>
    </select>

    <select id="selectSysOaFaqAnswerById" parameterType="integer" resultMap="SysOaFaqAnswerResult">
        <include refid="selectSysOaFaqAnswerVo"/>
        where id = #{id} and is_delete=0
    </select>
    <select id="selectSysOaFaqAnswerByFaqNo" parameterType="String" resultMap="SysOaFaqAnswerResult">
        <include refid="selectSysOaFaqAnswerVo"/>
        where faq_no = #{faqNo} and is_delete=0
    </select>
        
    <insert id="insertSysOaFaqAnswer" parameterType="SysOaFaqAnswer">
        insert into sys_oa_faq_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="faqNo != null">faq_no,</if>
            <if test="answerAnswer != null and answerAnswer != ''">answer_answer,</if>
            <if test="answerFraction != null">answer_fraction,</if>
            <if test="isAdopt != null">is_adopt,</if>
            <if test="answerLikes != null">answer_likes,</if>
            <if test="answerRidicule != null">answer_ridicule,</if>
            <if test="adoptTime != null">adopt_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="faqNo != null">#{faqNo},</if>
            <if test="answerAnswer != null and answerAnswer != ''">#{answerAnswer},</if>
            <if test="answerFraction != null">#{answerFraction},</if>
            <if test="isAdopt != null">#{isAdopt},</if>
            <if test="answerLikes != null">#{answerLikes},</if>
            <if test="answerRidicule != null">#{answerRidicule},</if>
            <if test="adoptTime != null">#{adoptTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateSysOaFaqAnswer" parameterType="SysOaFaqAnswer">
        update sys_oa_faq_answer
        <trim prefix="SET" suffixOverrides=",">
            <if test="answerAnswer != null and answerAnswer != ''">answer_answer = #{answerAnswer},</if>
            <if test="answerFraction != null">answer_fraction = #{answerFraction},</if>
            <if test="isAdopt != null">is_adopt = #{isAdopt},</if>
            <if test="answerLikes != null">answer_likes = #{answerLikes},</if>
            <if test="answerRidicule != null">answer_ridicule = #{answerRidicule},</if>
            <if test="adoptTime != null">adopt_time = #{adoptTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysOaFaqAnswerByFaqNo" parameterType="String">
        update  sys_oa_faq_answer set is_delete=1 where faq_no = #{faqNo}
    </delete>

    <delete id="deleteSysOaFaqAnswerById" parameterType="integer">
        update  sys_oa_faq_answer set is_delete=1 where id = #{id}
    </delete>
</mapper>