<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snow.system.mapper.SysOaEmailMapper">
    
    <resultMap type="SysOaEmail" id="SysOaEmailResult">
        <result property="id"    column="id"    />
        <result property="emailNo"    column="email_no"    />
        <result property="emailSubject"    column="email_subject"    />
        <result property="emailContent"    column="email_content"    />
        <result property="emailTo"    column="email_to"    />
        <result property="emailFrom"    column="email_from"    />
        <result property="sendTime"    column="send_time"    />
        <result property="emailType"    column="email_type"    />
        <result property="emailStatus"    column="email_status"    />
        <result property="emailLabel"    column="email_label"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="belongUserId"    column="belong_user_id"    />
        <result property="isRead"    column="is_read"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="isSuccess"    column="is_success"    />
        <result property="errorInfo"    column="error_info"    />
    </resultMap>

    <sql id="selectSysOaEmailVo">
        select id, email_no, email_subject, email_content, is_success,email_to, email_from, send_time, email_type, email_status, email_label, create_by, create_time, update_time, update_by, belong_user_id, is_read, is_delete, file_url from sys_oa_email
    </sql>

    <select id="selectSysOaEmailList" parameterType="SysOaEmail" resultMap="SysOaEmailResult">
        <include refid="selectSysOaEmailVo"/>
        <where>  
            <if test="emailNo != null  and emailNo != ''"> and email_no = #{emailNo}</if>
            <if test="emailSubject != null  and emailSubject != ''"> and email_subject = #{emailSubject}</if>
            <if test="emailContent != null  and emailContent != ''"> and email_content = #{emailContent}</if>
            <if test="emailTo != null  and emailTo != ''"> and email_to = #{emailTo}</if>
            <if test="emailFrom != null  and emailFrom != ''"> and email_from = #{emailFrom}</if>
            <if test="sendTime != null "> and send_time = #{sendTime}</if>
            <if test="emailStatus != null "> and email_status = #{emailStatus}</if>
            <if test="emailLabel != null "> and email_label = #{emailLabel}</if>
            <if test="isRead != null "> and is_read = #{isRead}</if>
            <if test="isSuccess != null "> and is_success = #{isSuccess}</if>
        </where>
    </select>

    <select id="selectImportantEmailList" parameterType="SysOaEmail" resultMap="SysOaEmailResult">
        <include refid="selectSysOaEmailVo"/>

        where  (email_to = #{emailTo} or email_from = #{emailFrom}) and email_status =3


    </select>
    
    <select id="selectSysOaEmailById" parameterType="Long" resultMap="SysOaEmailResult">
        <include refid="selectSysOaEmailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysOaEmail" parameterType="SysOaEmail" useGeneratedKeys="true" keyProperty="id">
        insert into sys_oa_email
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="emailNo != null">email_no,</if>
            <if test="emailSubject != null">email_subject,</if>
            <if test="emailContent != null">email_content,</if>
            <if test="emailTo != null">email_to,</if>
            <if test="emailFrom != null">email_from,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="emailType != null">email_type,</if>
            <if test="emailStatus != null">email_status,</if>
            <if test="emailLabel != null">email_label,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="belongUserId != null">belong_user_id,</if>
            <if test="isRead != null">is_read,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="isSuccess != null "> is_success,</if>
            <if test="errorInfo != null">error_info,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="emailNo != null">#{emailNo},</if>
            <if test="emailSubject != null">#{emailSubject},</if>
            <if test="emailContent != null">#{emailContent},</if>
            <if test="emailTo != null">#{emailTo},</if>
            <if test="emailFrom != null">#{emailFrom},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="emailType != null">#{emailType},</if>
            <if test="emailStatus != null">#{emailStatus},</if>
            <if test="emailLabel != null">#{emailLabel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="belongUserId != null">#{belongUserId},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="isSuccess != null ">#{isSuccess},</if>
            <if test="errorInfo != null">#{errorInfo},</if>
         </trim>
    </insert>

    <update id="updateSysOaEmail" parameterType="SysOaEmail">
        update sys_oa_email
        <trim prefix="SET" suffixOverrides=",">
            <if test="emailNo != null">email_no = #{emailNo},</if>
            <if test="emailSubject != null">email_subject = #{emailSubject},</if>
            <if test="emailContent != null">email_content = #{emailContent},</if>
            <if test="emailTo != null">email_to = #{emailTo},</if>
            <if test="emailFrom != null">email_from = #{emailFrom},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="emailType != null">email_type = #{emailType},</if>
            <if test="emailStatus != null">email_status = #{emailStatus},</if>
            <if test="emailLabel != null">email_label = #{emailLabel},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="belongUserId != null">belong_user_id = #{belongUserId},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="isSuccess != null ">  is_success = #{isSuccess},</if>
            <if test="errorInfo != null">error_info = #{errorInfo},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateSysOaEmailByEmailNo" parameterType="SysOaEmail">
        update sys_oa_email
        <trim prefix="SET" suffixOverrides=",">
            <if test="emailNo != null">email_no = #{emailNo},</if>
            <if test="emailSubject != null">email_subject = #{emailSubject},</if>
            <if test="emailContent != null">email_content = #{emailContent},</if>
            <if test="emailTo != null">email_to = #{emailTo},</if>
            <if test="emailFrom != null">email_from = #{emailFrom},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="emailType != null">email_type = #{emailType},</if>
            <if test="emailStatus != null">email_status = #{emailStatus},</if>
            <if test="emailLabel != null">email_label = #{emailLabel},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="belongUserId != null">belong_user_id = #{belongUserId},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="isSuccess != null ">  is_success = #{isSuccess},</if>
            <if test="errorInfo != null">error_info = #{errorInfo},</if>
        </trim>
        where email_no = #{emailNo}
    </update>
    <delete id="deleteSysOaEmailById" parameterType="Long">
        delete from sys_oa_email where id = #{id}
    </delete>

    <delete id="deleteSysOaEmailByIds" parameterType="String">
        delete from sys_oa_email where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>