<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('考勤列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>考勤编码：</label>
                                <input type="text" name="attendanceCode"/>
                            </li>
                            <li>
                                <label>考勤来源</label>
                                <select name="sourceType" th:with="type=${@dict.getType('sys_oa_attendance_source_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>打卡结果</label>
                                <select name="timeResult" th:with="type=${@dict.getType('sys_oa_attendance_time_result')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>位置结果</label>
                                <select name="locationResult" th:with="type=${@dict.getType('sys_oa_attendance_location_result')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>考勤类型</label>
                                <select name="checkType" th:with="type=${@dict.getType('sys_oa_attendance_check_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>实际打卡时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginUserCheckTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endUserCheckTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:attendance:add">
                    <i class="fa fa-plus"></i> 补卡
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:attendance:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:attendance:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:attendance:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:attendance:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:attendance:remove')}]];
        var sourceTypeDatas = [[${@dict.getType('sys_oa_attendance_source_type')}]];
        var timeResultDatas = [[${@dict.getType('sys_oa_attendance_time_result')}]];
        var locationResultDatas = [[${@dict.getType('sys_oa_attendance_location_result')}]];
        var checkTypeDatas = [[${@dict.getType('sys_oa_attendance_check_type')}]];
        var prefix = ctx + "system/attendance";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "考勤",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'attendanceCode',
                    title: '考勤编码'
                },
                {
                    field: 'sourceType',
                    title: '考勤来源',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(sourceTypeDatas, value);
                    }
                },
                {
                    field: 'timeResult',
                    title: '打卡结果',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(timeResultDatas, value);
                    }
                },
                {
                    field: 'locationResult',
                    title: '位置结果',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(locationResultDatas, value);
                    }
                },
                {
                    field: 'userId',
                    title: '打卡人'
                },
                {
                    field: 'checkType',
                    title: '考勤类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(checkTypeDatas, value);
                    }
                },
                {
                    field: 'userCheckTime',
                    title: '实际打卡时间'
                },
                {
                    field: 'workDate',
                    title: '工作日'
                },
                {
                    field: 'baseCheckTime',
                    title: '迟到和早退时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>