<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <th:block th:include="include :: header('请假单列表')" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">月</span>
                        <h5>收入</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">40 886,200</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                        </div>
                        <small>总收入</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">全年</span>
                        <h5>订单</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">275,800</h1>
                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i>
                        </div>
                        <small>新订单</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">今天</span>
                        <h5>访客</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">106,120</h1>
                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>
                        </div>
                        <small>新访客</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">最近一个月</span>
                        <h5>活跃用户</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">80,600</h1>
                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>
                        </div>
                        <small>12月</small>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>我的待办</h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                时间
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                          <div class="col-sm-12 search-collapse">
                                <form id="formId">
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <label>流程名称：</label>
                                                <input type="text" name="processDefinitionName"/>
                                            </li>
                                            <li>
                                                <label>单号：</label>
                                                <input type="text" name="businessKey"/>
                                            </li>
                                            <li>
                                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12 select-table table-striped">
                                <table id="bootstrap-table"></table>
                            </div>
                    </div>
                </div>
            </div>

         </div>
      </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
    
    <th:block th:include="include :: sparkline-js" />
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:flow:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:flow:remove')}]];
        var prefix = ctx + "modeler";
        var prefixFlow = ctx + "flow";
        $(function() {
            var options = {
                id: "bootstrap-table",
                formId:"formIds",
                url: prefix + "/findTasksByUserId",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                importTemplateUrl: prefix + "/importTemplate",
                striped: true,      //是否显示行间隔色
                showToggle: false,
                loadingFontSize:20,
                showRefresh: false,                   // 是否显示刷新按钮
                showColumns: false,                   // 是否显示隐藏某列下拉框
                showToggle: false,
                showSearch: false,                     // 是否显示检索信息
              //  rowStyle:rowStyle,//通过自定义函数设置行样式
                modalName: "我的待办",
                columns: [{
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                    {
                        field: 'taskId',
                        title: 'taskId',
                        visible: false
                    },
                    {
                        field: 'businessKey',
                        title: '单号'

                    },
                    {
                        field: 'taskName',
                        title: '审批节点'

                    },

                   /* {
                        field: 'name',
                        title: '任务名称'
                    },*/

                    {
                        field: 'startUserName',
                        title: '流程发起人'
                    },
                    {
                        field: 'startTime',
                        title: '流程发起时间'
                    },
                    {
                        field: 'createDate',
                        title: '任务创建时间'
                    },

                    {
                        title: '操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="cancelTask(\'' + row.businessKey + '\',\''+row.taskId+'\')"><i class="fa fa-edit"></i>处理</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="getProcessDiagram(\'' + row.processInstanceId + '\')"><i class="fa fa-eye"></i>流程图</a>');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
        });

        function cancelTask(businessKey,taskId) {
            console.log(JSON.stringify(taskId));
            var preViewUrl=prefixFlow+'/toFinishTask?businessKey='+businessKey+'&taskId='+taskId;
            $.modal.openTab("审批", preViewUrl);
        }
        function getProcessDiagram(processInstanceId) {

            var preViewUrl=prefix+'/getProcessDiagram?processInstanceId='+processInstanceId;
            $.modal.openTab("流程图", preViewUrl);
        }
    </script>
</body>
</html>
