<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>DingFlow系统</title>
    <meta name="description" content="DingFlow系统">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/login.min.css" th:href="@{/css/login.min.css}" rel="stylesheet"/>
    <link href="../static/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css?v=4.3.1}" rel="stylesheet"/>
    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <style type="text/css">label.error { position:inherit;  }</style>
</head>
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="pull-right">
                <a class="btn btn-warning btn-xs" type="button" href="https://gitee.com/qimingjin/snow" target="_blank">码云</a>
                <a class="btn btn-warning btn-xs" type="button" href="http://dingflow.xyz:3000" target="_blank">社区</a>
                <a class="btn btn-warning btn-xs" type="button" href="http://dingflow.xyz:8082/" target="_blank">博客</a>
            </div>
        </div>
        <div class="row">
            <h1>欢迎使用 <strong class="text-warning">DingFlow 后台管理系统</strong></h1>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <!-- <h1><img alt="[ 若依 ]" src="../static/ruoyi.png" th:src="@{/ruoyi.png}"></h1>-->
                    </div>
                    <div class="m-b"></div>

                    <ul class="m-b-lg">
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> flowable设计器集成(内置请假审批流程，采购审批流程，离职审批会签流程)</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> 钉钉与系统基础数据同步</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> 智能化数据大屏</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> 丰富业务管理:支付宝/微信账单一键导入;简版客户管理;系统任务管理等</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> DingFlow官网:注册官网用户，发布FAQ</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> 消息中心:支持邮件、站内信、钉钉等多种消息发送方式</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> 数据报表:集成积木报表，在线构建各式报表</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> 智能表单:零代码在线设计表单</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-lg"></i> 代码自动生成平台:单表CRUD从数据库表单到菜单按钮和页面全一键式构建</li>
                    </ul>
                    <strong>已经注册过? <a th:href="@{/login}">直接登录&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-5">
                <form id="registerForm" autocomplete="off">
                    <h4 class="no-margins">注册：</h4>
                    <input type="text"     name="username" class="form-control uname"         placeholder="用户名"   maxlength="20" />
                    <input type="password" name="password" class="form-control pword"         placeholder="密码"     maxlength="20" />
                    <input type="password" name="confirmPassword" class="form-control pword"  placeholder="确认密码" maxlength="20" />
					<div class="row m-t" th:if="${captchaEnabled==true}">
						<div class="col-xs-6">
						    <input type="text" name="validateCode" class="form-control code"  placeholder="验证码"   maxlength="5" >
						</div>
						<div class="col-xs-6">
							<a href="javascript:void(0);" title="点击更换验证码">
								<img th:src="@{captcha/captchaImage(type=${captchaType})}" class="imgcode" width="85%"/>
							</a>
						</div>
					</div>
                    <div class="checkbox-custom" th:classappend="${captchaEnabled==false} ? 'm-t'">
				        <input type="checkbox" id="acceptTerm" name="acceptTerm"> <label for="acceptTerm">我已阅读并同意</label>
				        <a href="https://gitee.com/qimingjin/snow" target="_blank">使用条款</a>
				    </div>
                    <button class="btn btn-success btn-block" id="btnSubmit" data-loading="正在验证注册，请稍后...">注册</button>
                </form>
            </div>
        </div>
        <br/>
        <div class="row">
            <h3 style="text-align: center" class="text-danger">借助钉钉，致力于流程，让流程更简单</h3>
        </div>
        <br/>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2021 All Rights Reserved. DingFlow <br>
            </div>
        </div>
    </div>
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!-- 全局js -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../static/ajax/libs/validate/messages_zh.min.js" th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
<script src="../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../static/ruoyi/js/ry-ui.js" th:src="@{/ruoyi/js/ry-ui.js?v=4.3.1}"></script>
<script src="../static/ruoyi/register.js" th:src="@{/ruoyi/register.js}"></script>
</body>
</html>
