<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('邮件列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>邮件编号：</label>
                                <input type="text" name="emailNo"/>
                            </li>
                            <li>
                                <label>邮件主题：</label>
                                <input type="text" name="emailSubject"/>
                            </li>
                            <li>
                                <label>收件人：</label>
                                <input type="text" name="emailTo"/>
                            </li>
                            <li>
                                <label>发件人：</label>
                                <input type="text" name="emailFrom"/>
                            </li>
                            <li class="select-time">
                                <label>发送时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginSendTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endSendTime]"/>
                            </li>
                            <li>
                                <label>邮件状态：</label>
                                <select name="emailStatus" th:with="type=${@dict.getType('sys_email_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>邮件标签：</label>
                                <select name="emailLabel" th:with="type=${@dict.getType('sys_email_lable')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>是否已读：</label>
                                <input type="text" name="isRead"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:email:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:email:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:email:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:email:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:email:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:email:remove')}]];
        var emailStatusDatas = [[${@dict.getType('sys_email_status')}]];
        var emailLabelDatas = [[${@dict.getType('sys_email_lable')}]];
        var prefix = ctx + "system/email";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "邮件",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'emailNo',
                    title: '邮件编号'
                },
                {
                    field: 'emailSubject',
                    title: '邮件主题'
                },
                {
                    field: 'emailContent',
                    title: '邮件内容'
                },
                {
                    field: 'emailTo',
                    title: '收件人'
                },
                {
                    field: 'emailFrom',
                    title: '发件人'
                },
                {
                    field: 'sendTime',
                    title: '发送时间'
                },
                {
                    field: 'emailStatus',
                    title: '邮件状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(emailStatusDatas, value);
                    }
                },
                {
                    field: 'emailLabel',
                    title: '邮件标签',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(emailLabelDatas, value);
                    }
                },
                {
                    field: 'isRead',
                    title: '是否已读'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>