<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('公告详情')" />
</head>
<body class="white-bg">
 <div class="wrapper">
 <div class="wrapper wrapper-content animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="mail-box-header">
                    <div class="pull-right tooltip-demo">
                        <a href="/system/email" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
                        <a href="#" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>
                        <button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="移到垃圾箱" onclick="remarkTrash()"><i class="fa fa-trash-o"></i> </button>
                    </div>
                    <h2>
                        DingFlow在线邮件
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <input type="hidden" th:value="${sysOaEmail.id}" id="id">
                        <h3>
                            <span class="font-normal">主题: </span><span th:text="${sysOaEmail.emailSubject}"></span>
                        </h3>
                        <h5>
                            <span class="pull-right font-normal"><i class="fa fa-clock-o"></i>[[${#dates.format(sysOaEmail.sendTime, 'yyyy-MM-dd hh:mm:ss')}]]</span>
                            <span class="font-normal">From: </span><span th:text="${sysOaEmail.emailFromUser.email}"></span>
                        </h5>
                    </div>
                </div>
                <div class="ibox-content">
                    <!--<div class="text-center article-title">
                        <h2>
                            [[${sysOaEmail.emailSubject}]]
                        </h2>
                    </div>-->
                    <p th:utext="${sysOaEmail.emailContent}">
                    </p>

                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                <i class="fa fa-eye"> </i> 144 views
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <th:block th:include="include :: footer" />
    <script>
        var prefix =  "/system/email";
        function remarkTrash(){

            $.operate.save(prefix + "/remarkDelete",{
                "ids":$("#id").val()
            });
        }
    </script>
</body>

</html>
