/* index.html */

/*body样式*/
.body_bgc_newPC{
    background-color: #e1ecf9!important;
}
.body_bgc_editPC{
    background-color: #e7e8e5!important;
}

/*主题样式*/
.ortum_newPC_color{
    color:#007bff;
}
.ortum_editPC_color{
    color:#20c997;
}



/*中间头部*/
#ortum_table_info .ortum_table_method_col{
    padding:0;
    display: flex;
    align-items: center;
}
#ortum_table_info .ortum_table_method{
    font-weight: 700;

    font-size: 18px;
}
#ortum_table_info .ortum_table_name_col{
    padding:0 15px 0 0;
}
#ortum_table_info .ortum_table_code_col{
    padding:0 50px 0 0;
}


.ortum_components{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
}
#ortum_field{
    height:calc(100vh - 40px);
    border: 1px solid gray;
    margin:auto;
    overflow:auto;/* 在IE,火狐浏览器上，会将padding-bottom(其他方向上不会)的宽度裁剪掉 */
    position: relative;
    /* padding-bottom: 200px; */
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none!important;
}
/* 模拟一个padding-bottom，解决火狐浏览器上兼容性问题 */
#ortum_field::after{
    content: "";
    height: 200px;
    display: block;
}
/*Chrome下隐藏滚动条，溢出可以透明滚动*/
#ortum_field::-webkit-scrollbar { width: 0 !important }


#ortum_body{
    position: relative;
}
#originState{
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 60px;
    height: 60px;
    z-index: -50;
}

/* #ortum_field .originState{
    text-align: center;
    line-height: 398px;
} */
/* 预览id */
#ortum_field_preview{
    margin:auto;
    position: relative;
}
/* #ortum_field_preview .originState{
    text-align: center;
    line-height: 398px;
} */

/* 表单操作 */
#ortum_table_act{
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    align-items: center;
}
#ortum_table_act .ortum_tableAct_icon{
    margin: 0 5px;
    font-size: 20px;
}
#ortum_table_act .ortum_tableAct_icon:hover{
    cursor: pointer;
}


/* 左侧组件 */
#ortum_left{
    /*height:calc(100vh - 40px);*/
    flex-grow: 2;
    overflow: auto;
}
.ortum_componentItem{
    line-height:30px;
    text-align: center;
    width: 45%;
    font-size: 12px;
    background-color: #f4f6fc;
    text-align: center;
    margin:3px;
    padding:0 10px;
    border-radius: 5px;
    border:1px solid #f4f6fc;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    
}
.ortum_componentItem:hover{
    background-color: #ced9fb;
    border:1px solid #8aa1e6;
    cursor: move;
}


/* 右侧部分 */
#ortum_right{
    height:calc(100vh - 40px);
    overflow: auto;
}
.ortum_poperty_splitLine{
    height: 2px;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1px;
    background-color: #e6e6e6;
}

/* 鼠标右键菜单 */
#ortum_contextMenu{
    position:absolute;
    /* width: 120px; */
    list-style: none;
    /* max-height: 210px; */
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    border:1px solid #eeeeee;
    padding:8px;
    border-radius: 2px;
    box-shadow: 3px 3px 2px #eeeeee;
    cursor: pointer;
    z-index: 20200918;
}
#ortum_contextMenu > li:hover{
    background-color: gray;
}

#ortum_contextMenu::-webkit-scrollbar {
    display: none;
}

/* 去除按钮的shadow */
.ortum_boot_btn_no_shadow{
    box-shadow:none!important;   
}


/* col的自定义样式 */
.ortum_boot_col_default{
    min-height: 2rem;
}

/* 点击选中阴影 */
.selectedShadow{
    position: relative;
}
.selectedShadow #ortum_shadow{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap-reverse;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    align-items: flex-start;
    /*top: 200px;*/
    border:1px dotted gray;
    z-index: 100;
    background-color: rgba(236, 245, 255, 0.5);
}
.selectedShadow #ortum_shadow .iconfont{
    display: block;
    color: #007bff;
    font-size: 25px;
    margin:0 3px;
}
.shadowDivActMenuSon{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #80808036;
    margin: 0 5px;
}
.ortum_dropdown_menu{
    position: absolute;
    z-index: 1000;
    /*min-width: 10rem;*/
    width: 160px;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.ortum_shadow_menu_allShow{
    /*margin:0px!important;*/
    line-height: normal!important;
}

.ortum_tip{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 300px;
    z-index:2020;
    margin: auto;
    display: none;
}
.ortum_tip .alert{
    display: none;
}

/* 设置diaplay为none的类 */
.ortum_display_NONE{
    display: none!important;
}

.CodeMirror-placeholder{
    color:#9995966b!important;
}

/*等待加载*/
.ortum_loading{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #29252566;
    z-index:20201123;
}


/* 拖拽对象的虚拟插入位置 */
.ortum_dragenter{
    height: 10px;
    width: 100%;
    background-color: #dbe62f!important;
    pointer-events: none;
}
.ortum_dragenter_bgc{
    background-color: #dbe62f!important;
}
/*组件拖拽时样式*/
.ortum_componentsDragStyle{
    background-color: #007bff6e!important;
}

.ortum_itemDragAct{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.ortum_itemDragAct:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #007bff6e;

}
.ortum_itemDragAct_img{
    margin: 0 15px;
    width: 80px;
}
.ortum_itemDragAct_span{
    color: #666666;
    font-size: 10px;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.body_bgc_newPC ::-webkit-scrollbar,.body_bgc_editPC ::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
.body_bgc_newPC ::-webkit-scrollbar-track,.body_bgc_editPC ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
.body_bgc_newPC ::-webkit-scrollbar-thumb,.body_bgc_editPC ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #5a71f1;
}
/* 火狐浏览器 */
.body_bgc_newPC *,.body_bgc_editPC *{
    scrollbar-color: #5a71f1 #F5F5F5; /* 滑块颜色  滚动条背景颜色 */
    scrollbar-width: none; /* 滚动条宽度有三种：thin、auto、none */
}
/* mCSB的样式修改 */
.ortum_mCustomScrollbar .mCSB_inside > .mCSB_container{
    margin-right: 18px;
}
.ortum_mCustomScrollbar .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #007bffee!important;
}
.ortum_mCustomScrollbar .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: #007bff!important;
}


