<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('流程组信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>角色名称：</label>
                                <input type="text" name="roleName"/>
                            </li>
                            <li>
                                <label>角色标识：</label>
                                <input type="text" name="roleKey"/>
                            </li>

                            <li>
                                <label>角色状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_show_hide')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:role:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="system:role:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-tree-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var addFlag = [[${@permission.hasPermi('system:role:add')}]];
        var editFlag = [[${@permission.hasPermi('system:role:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:role:remove')}]];
        var statusDatas = [[${@dict.getType('sys_show_hide')}]];
        var prefix = ctx + "flow/role";

        $(function() {
            var options = {
                code: "roleId",
                parentCode: "parentId",
                expandColumn: "1",
                uniqueId: "roleId",
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "流程组信息",
                columns: [{
                    field: 'selectItem',
                    radio: true
                },
                {
                    field: 'roleName',
                    title: '角色组名称',
                    align: 'left'
                },
                {
                    field: 'roleKey',
                    title: '角色组权限标识',
                    align: 'left'
                },/*
                {
                    field: 'roleSort',
                    title: '显示顺序',
                    align: 'left'
                },*/
                {
                    field: 'status',
                    title: '角色组状态',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注',
                    align: 'left'
                },
                {
                    title: '操作',
                    align: 'center',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.roleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.roleId + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.roleId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        actions.push("<a class='btn btn-warning btn-xs " + editFlag + "' href='javascript:void(0)' onclick='authUser(" + row.roleId + ")'><i class='fa fa-user'></i>分配用户</a>");

                        return actions.join('');
                    }
                }]
            };
            $.treeTable.init(options);
        });


        /* 角色管理-分配用户 */
        function authUser(roleId) {
            var prefix = ctx + "system/role";
            var url = prefix + '/authUser/' + roleId;
            $.modal.openTab("分配用户", url);
        }
    </script>
</body>
</html>