<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('公告详情')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content  animated fadeInRight article">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="ibox">
				<div class="ibox-content">
					<div class="pull-right">
						<button class="btn btn-white btn-xs" type="button" th:text="${@dict.getLabel('sys_faq_type', sysOaFaqAnswer.sysOaFaq.faqSource)}"></button>
					</div>
					<div class="text-center article-title">
						<h1>
							[[${sysOaFaqAnswer.sysOaFaq.faqTitle}]]
						</h1>
						<span class="text-muted"><i class="fa fa-clock-o"></i> [[${#dates.format(sysOaFaqAnswer.createTime, 'yyyy-MM-dd hh:mm:ss')}]]</span>
					</div>
					<p th:utext="${sysOaFaqAnswer.answerAnswer}">
					</p>

					<hr>
					<div class="row">
						<div class="col-md-6">
							<h5>分数:</h5>

							<button class="btn btn-primary btn-xs" type="button" th:if="${sysOaFaqAnswer.answerFraction eq 0.00}">暂无</button>
							<button class="btn btn-primary btn-xs" type="button" th:if="${sysOaFaqAnswer.answerFraction gt 0.00}">[[${sysOaFaqAnswer.answerFraction}]]</button>
						</div>
						<div class="col-md-6">
					<!--		<div class="small text-right">
								<h5>Stats:</h5>
								<div> <i class="fa fa-comments-o"> </i> 56 comments </div>
								<i class="fa fa-eye"> </i> 144 views
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <th:block th:include="include :: footer" />
</body>
</html>
