<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('消息中心')" />
</head>
<body class="gray-bg">
     <div class="wrapper wrapper-content animated fadeIn">
         <div class="row m-b-lg ">
             <div class="col-sm-12">
                 <div class="tabs-container">

                     <div class="tabs-left">
                         <ul class="nav nav-tabs">
                             <li class="active">
                                 <a data-toggle="tab" href="#tab-1"> 拜访日志    <span class="label label-info pull-right">[[${visitLogCount}]]</span></a>

                             </li>
                             <li class="">
                                 <a data-toggle="tab" href="#tab-2"> 站内邮件   <span class="label label-info pull-right" >[[${emailListCount}]]</span></a>

                             </li>
                             <li class=""><a data-toggle="tab" href="#tab-3"> 第二个选项卡</a>
                             </li>
                             <li class=""><a data-toggle="tab" href="#tab-4"> 第二个选项卡</a>
                             </li>
                         </ul>
                         <div class="tab-content ">
                             <div id="tab-1" class="tab-pane active">
                                 <div class="panel-body">
                                     <h3>拜访日志</h3>
                                     <div id="vertical-timeline" class="vertical-container light-timeline" th:each="visitLog,iterStat : ${visitLogs}">
                                         <div class="vertical-timeline-block">
                                             <div class="vertical-timeline-icon blue-bg">
                                                 <i th:class="${visitLog.iconClass}"></i>
                                             </div>

                                             <div class="vertical-timeline-content">
                                                 <p>
                                                     <label th:switch="${visitLog.messageReadStatus}">
                                                         <span  class="label label-danger" th:case="'0'">未读</span>
                                                         <span  class="label label-success"  th:case="'1'">已读</span>
                                                     </label>
                                                      <strong th:text="${#dates.format(visitLog.createTime, 'yyyy-MM-dd HH:mm:ss')}"></strong>
                                                 </p>
                                                 <label > [[${visitLog.messageContent}]]</label>
                                                 <a href="javascript:void(0)"  class="btn btn-sm btn-success" th:onclick="messageDetail([[${visitLog.pcUrl}]]);"> 查看详情 </a>
                                                 <p>
                                                     <small class="badge badge-warning"> <i class="fa fa-clock-o"></i>[[${visitLog.spendTime}]]</small>
                                                 </p>
                                             </div>
                                             <hr>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div id="tab-2" class="tab-pane">
                                 <div class="panel-body">
                                     <h3>站内邮件</h3>
                                     <div id="vertical-timeline" class="vertical-container light-timeline" th:each="email,iterStat : ${emailList}">
                                         <div class="vertical-timeline-block">
                                             <div class="vertical-timeline-icon blue-bg">
                                                 <i th:class="${email.iconClass}"></i>
                                             </div>

                                             <div class="vertical-timeline-content">
                                                 <p>
                                                     <label th:switch="${email.messageReadStatus}">
                                                         <span  class="label label-danger" th:case="'0'">未读</span>
                                                         <span  class="label label-success"  th:case="'1'">已读</span>
                                                     </label>
                                                     <strong th:text="${#dates.format(email.createTime, 'yyyy-MM-dd HH:mm:ss')}"></strong>
                                                 </p>
                                                 <label  >
                                                     <a class="text-info" href="#"></i> @[[${email.producerUser.userName}]]</a>
                                                 </label>
                                                 <label > 发来一条站内邮件，请及时查看。</label>
                                                 <a href="javascript:void(0)"  class="btn btn-sm btn-success" th:onclick="messageDetail([[${email.redirectUrl}]]);"> 查看详情 </a>
                                                 <p>
                                                     <small class="badge badge-warning"> <i class="fa fa-clock-o"></i>[[${email.spendTime}]]</small>
                                                 </p>
                                             </div>
                                             <hr>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div id="tab-3" class="tab-pane">
                                 <div class="panel-body">
                                     <strong>栅格系统</strong>

                                     <p>Bootstrap 提供了一套响应式、移动设备优先的流式栅格系统，随着屏幕或视口（viewport）尺寸的增加，系统会自动分为最多12列。它包含了易于使用的预定义类，还有强大的mixin 用于生成更具语义的布局。</p>
                                 </div>
                             </div>
                             <div id="tab-4" class="tab-pane">
                                 <div class="panel-body">
                                     <strong>栅格系统</strong>

                                     <p>Bootstrap 提供了一套响应式、移动设备优先的流式栅格系统，随着屏幕或视口（viewport）尺寸的增加，系统会自动分为最多12列。它包含了易于使用的预定义类，还有强大的mixin 用于生成更具语义的布局。</p>
                                 </div>
                             </div>
                         </div>

                     </div>

                 </div>
             </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">


        function messageDetail(url){
            layer.open({
                type : 2,
                shadeClose : true,
                title : "消息详情",
                area : ["70%", "80%"],
                content : [url, 'yes']
            })

        }
    </script>
</body>
</html>